.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: rgb(236, 185, 16);
}
section {
  background-color: rgb(54, 243, 54);
  position: sticky;
  top: 0;
  z-index: 10;
}
h1 {
  display: flex;
  background-color: rgb(250, 125, 9);
  width: 100px;
  padding: 15px;
  margin: 15px;
}
button {
  background-color: rgb(230, 116, 9);
  padding: 5px;
  margin: 5px;
  width: 100px;
  border-radius: 20px;
  box-shadow: black;
}
div :hover button {
  background-color: rgb(67, 151, 151);
  width: 150px;
}
